@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('assets/bg-pattern-top.svg'),
    url('assets/bg-pattern-bottom.svg');
  background-position: right 45vw bottom 45vh, 45vw 45vh;
  background-repeat: no-repeat;
}
